{% extends 'base.html' %}
{% block title %}
contact
{%endblock%}
{% block content %}

<div class="container bg-secondary">
    <h1 class="text-center text-white">Contact Details</h1>
</div>
<div class="conatiner bg-light">
    <h3 class="text-center">City Hospital</h3>
    <h4 class="bi bi-geo-alt text-center"> Eranakulam,Kerala-654321</h4>
    <h4 class="bi bi-telephone-inbound text-center"> Phone: +91 9876543210</h4>
    <h4 class="bi bi-envelope text-center"> Email: cityhospital@gmail.com </h4>
    <br>
    <br>
    <hr>
    
    <h3 class="text-center">Social Media</h3>
    <hr>
    <ul class="list-unstyled">
        <li>
          <a href="#!" class=" text-center  text-decoration-none"><h4 class="bi bi-instagram"> Instagram</h4></a>
        </li>
        <li>
          <a href="#!" class="text-center text-decoration-none"><h4 class="bi bi-facebook"> FaceBook</h4></a>
        </li>
        <li>
          <a href="#!" class="text-center text-decoration-none"><h4 class="bi bi-whatsapp"> WhatsApp</h4></a>
        </li>
        <li>
          <a href="#!" class="text-center text-decoration-none"><h4 class="bi bi-twitter"> Twitter</h4></a>
        </li>
      </ul>
</div>
{% endblock %}